@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);
$roboto: 'Roboto', sans-serif;
$purple: #3e2895;

* {
    margin: 0;
    padding: 0;
    // outline: solid 2px limegreen !important;
}

body{
    background-color: #1c1c1c;
    font-family: $roboto;
}

.container{
    display: flex;
}
.half{
    width: 49%;
}

.card {
    margin: 15px;
    padding:35px;
    width: 330px;
    height: 250px;
    border-radius: 10px;
    background-color: $purple;
    color: white;
        h1{
            color: white;
            
            margin-bottom: 25px;

                span{
                    font-size: 1.5em;
                }
        }
        h2{
            margin-bottom: 20px;
            font-weight: bold;
            
        }
        p{
          font-weight: 300; 
          margin-bottom: 25px;
        }
        button{
            padding: 15px;
            background-color: $purple;
            border-radius: 5px;
            color: white;
            border: solid #544494 2px;

        }
}